* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(246, 245, 231);
    background-color: rgb(55, 35, 73);
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

#projects .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.grid-item {
    color: black;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    background-color: #f9f9f9;
}

img {
    width: 100%; 
    max-width: 500px; 
    height: auto;
}
